
# *Python with MongoDB*

## Introduction to PyMongo

In [0]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 3.8.0

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [0]:
client = MongoClient('localhost', 27017)

In [0]:
client.test.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'drop')

In [0]:
# Drop database "mydatabase" before creating it below: 
client.mydatabase.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'drop')

Create a new database:

In [0]:
mydb = client["mydatabase"]

Confirm that the database exists ... 

- list all databases in your system:

In [0]:

print(client.list_database_names())

['admin', 'config', 'local']

- check for the database by name:

In [0]:

dblist = client.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

If the new database was never created before, it will not be found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [0]:

mycol = mydb["customers"]

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [0]:

mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

Now test for the existence of the database:

In [0]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase']

List all collections in the database:

In [0]:

print(mydb.list_collection_names())

['customers']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [0]:

mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

5c9801953ae8933c509b07c0

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [0]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [0]:

x = mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [0]:

print(x.inserted_ids)

[ObjectId('5c98019e3ae8933c509b07c1'), ObjectId('5c98019e3ae8933c509b07c2'), ObjectId('5c98019e3ae8933c509b07c3'), ObjectId('5c98019e3ae8933c509b07c4'), ObjectId('5c98019e3ae8933c509b07c5'), ObjectId('5c98019e3ae8933c509b07c6'), ObjectId('5c98019e3ae8933c509b07c7'), ObjectId('5c98019e3ae8933c509b07c8'), ObjectId('5c98019e3ae8933c509b07c9'), ObjectId('5c98019e3ae8933c509b07ca'), ObjectId('5c98019e3ae8933c509b07cb'), ObjectId('5c98019e3ae8933c509b07cc')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [0]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`:

In [0]:
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { : 14 }

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [0]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('5c98018b3ae8933c509b07bf'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [0]:
#ANSWER:
x = mycol.find_one({"name": "Hannah"})
print(x)

{'_id': ObjectId('5c98019e3ae8933c509b07c2'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [0]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5c98018b3ae8933c509b07bf'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5c9801953ae8933c509b07c0'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5c98019e3ae8933c509b07c1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5c98019e3ae8933c509b07c2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5c98019e3ae8933c509b07c3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5c98019e3ae8933c509b07c4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07c5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5c98019e3ae8933c509b07c6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5c98019e3ae8933c509b07c7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5c98019e3ae8933c509b07c8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07c9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5c98019e3ae8933c509b07ca'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5c98019e3ae8933c509b07cb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5c98019e3ae8933c509b07cc'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [0]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [0]:
#ANSWER:
for x in mycol.find({},{ "_id": 1, "name": 1 }):
  print(x)

{'_id': ObjectId('5c98018b3ae8933c509b07bf'), 'name': 'John'}
{'_id': ObjectId('5c9801953ae8933c509b07c0'), 'name': 'Peter'}
{'_id': ObjectId('5c98019e3ae8933c509b07c1'), 'name': 'Amy'}
{'_id': ObjectId('5c98019e3ae8933c509b07c2'), 'name': 'Hannah'}
{'_id': ObjectId('5c98019e3ae8933c509b07c3'), 'name': 'Michael'}
{'_id': ObjectId('5c98019e3ae8933c509b07c4'), 'name': 'Sandy'}
{'_id': ObjectId('5c98019e3ae8933c509b07c5'), 'name': 'Betty'}
{'_id': ObjectId('5c98019e3ae8933c509b07c6'), 'name': 'Richard'}
{'_id': ObjectId('5c98019e3ae8933c509b07c7'), 'name': 'Susan'}
{'_id': ObjectId('5c98019e3ae8933c509b07c8'), 'name': 'Vicky'}
{'_id': ObjectId('5c98019e3ae8933c509b07c9'), 'name': 'Ben'}
{'_id': ObjectId('5c98019e3ae8933c509b07ca'), 'name': 'William'}
{'_id': ObjectId('5c98019e3ae8933c509b07cb'), 'name': 'Chuck'}
{'_id': ObjectId('5c98019e3ae8933c509b07cc'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [0]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5c98019e3ae8933c509b07c3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5c98019e3ae8933c509b07c6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5c98019e3ae8933c509b07c8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07cc'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Now find all docs with an address that begins with "S":

In [0]:

myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5c98019e3ae8933c509b07c6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5c98019e3ae8933c509b07cc'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [0]:

mydoc = mycol.find().sort("name")
for x in mydoc:
  print(x)

{'_id': ObjectId('5c98019e3ae8933c509b07c1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5c98019e3ae8933c509b07c9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5c98019e3ae8933c509b07c5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5c98019e3ae8933c509b07cb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5c98019e3ae8933c509b07c2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5c98018b3ae8933c509b07bf'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5c98019e3ae8933c509b07c3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5c9801953ae8933c509b07c0'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5c98019e3ae8933c509b07c6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5c98019e3ae8933c509b07c4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07c7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5c98019e3ae8933c509b07c8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07cc'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5c98019e3ae8933c509b07ca'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [0]:
help(mycol.find().sort)

Help on method sort in module pymongo.cursor:

sort(key_or_list, direction=None) method of pymongo.cursor.Cursor instance
    Sorts this cursor's results.

    Pass a field name and a direction, either
    :data:`~pymongo.ASCENDING` or :data:`~pymongo.DESCENDING`::

        for doc in collection.find().sort('field', pymongo.ASCENDING):
            print(doc)

    To sort by multiple fields, pass a list of (key, direction) pairs::

        for doc in collection.find().sort([
                ('field1', pymongo.ASCENDING),
                ('field2', pymongo.DESCENDING)]):
            print(doc)

    Beginning with MongoDB version 2.6, text search results can be
    sorted by relevance::

        cursor = db.test.find(
            {'$text': {'$search': 'some words'}},
            {'score': {'$meta': 'textScore'}})

        # Sort by 'score' field.
        cursor.sort([('score', {'$meta': 'textScore'})])

        for doc in cursor:
            print(doc)

    Raises :class:`~pymongo.errors.InvalidOperation` if this cursor has
    already been used. Only the last :meth:`sort` applied to this
    cursor has any effect.

    :Parameters:
      - `key_or_list`: a single key or a list of (key, direction)
        pairs specifying the keys to sort on
      - `direction` (optional): only used if `key_or_list` is a single
        key, if not given :data:`~pymongo.ASCENDING` is assumed

In [0]:

mydoc = mycol.find().sort("name", direction=pymongo.DESCENDING)
for x in mydoc:
  print(x)

{'_id': ObjectId('5c98019e3ae8933c509b07ca'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5c98019e3ae8933c509b07cc'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5c98019e3ae8933c509b07c8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07c7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5c98019e3ae8933c509b07c4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07c6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5c9801953ae8933c509b07c0'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5c98019e3ae8933c509b07c3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5c98018b3ae8933c509b07bf'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5c98019e3ae8933c509b07c2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5c98019e3ae8933c509b07cb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5c98019e3ae8933c509b07c5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5c98019e3ae8933c509b07c9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5c98019e3ae8933c509b07c1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

A single record can be deleted by specifying some criterion:

In [0]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

In [0]:

mycol.delete_many({ "_id": {"$lt": 15} })
for x in mycol.find():
  print(x)

{'_id': ObjectId('5c98018b3ae8933c509b07bf'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5c9801953ae8933c509b07c0'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5c98019e3ae8933c509b07c1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5c98019e3ae8933c509b07c3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5c98019e3ae8933c509b07c4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07c5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5c98019e3ae8933c509b07c6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5c98019e3ae8933c509b07c7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5c98019e3ae8933c509b07c8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07c9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5c98019e3ae8933c509b07ca'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5c98019e3ae8933c509b07cb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5c98019e3ae8933c509b07cc'), 'name': 'Viola', 'address': 'Sideway 1633'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().

In [0]:

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)
for x in mycol.find():
  print(x)

{'_id': ObjectId('5c98018b3ae8933c509b07bf'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5c9801953ae8933c509b07c0'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5c98019e3ae8933c509b07c1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5c98019e3ae8933c509b07c3'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5c98019e3ae8933c509b07c4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07c5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5c98019e3ae8933c509b07c6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5c98019e3ae8933c509b07c7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5c98019e3ae8933c509b07c8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5c98019e3ae8933c509b07c9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5c98019e3ae8933c509b07ca'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5c98019e3ae8933c509b07cb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5c98019e3ae8933c509b07cc'), 'name': 'Viola', 'address': 'Sideway 1633'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [0]:

myresult = mycol.find().limit(5)
for x in myresult:
  print(x)

{'_id': ObjectId('5c98018b3ae8933c509b07bf'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5c9801953ae8933c509b07c0'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5c98019e3ae8933c509b07c1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5c98019e3ae8933c509b07c3'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5c98019e3ae8933c509b07c4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [0]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [0]:
db = client.test
# Drop the collection in case it was previously created:
# collection = db.people
# collection.drop()

In [0]:
os.chdir("dat")

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'dat'

In [0]:
pwd()

'C:\\Users\\Faisal\\DSIA\\dsia'

In [0]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport --db test --collection people --drop --file C:/Users/Faisal/downloads/dummyData.json')

0

In [0]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport -d test -c people --file C:/Users/Faisal/DSIA/dsia/data/dummyData.json')

0

In [0]:
os.chdir("..")

In [0]:
pwd()

In [0]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age', pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

{'_id': ObjectId('5c9809c0a3032a533cced7ce'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('5c9809e2a3032a533cced839'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('5c9809c0a3032a533cced78d'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [0]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      8
Antarctica                         46.333333      6
Guernsey                           48.333333      6
Puerto Rico                        26.500000      4
Heard Island and Mcdonald Islands  29.000000      4

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [0]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,Age,Country,Location,Name,_id
0,32,China,"39.9127, 116.3833","Holman, Hasad O.",5c9809c0a3032a533cced78a
1,43,China,"31.2, 121.5","Byrd, Dante A.",5c9809c0a3032a533cced7c4
2,57,China,"45.75, 126.6333","Carney, Tamekah I.",5c9809c0a3032a533cced7d0
3,53,China,"40, 95","Mayer, Violet U.",5c9809c0a3032a533cced7da
4,32,China,"39.9127, 116.3833","Holman, Hasad O.",5c9809e2a3032a533cced7f5